@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */
:root {
	/* Fonts */
	--accentFont: 'Space Grotesk', sans-serif;
	--mainFont: 'Inter', sans-serif;

	/* Colours */
	--black: #000000;
	--white: #ffffff;
	--main: #3a4048;
	--secondary: #a0abbc;
	--tertiary: #bfb6ad;
	--cta: #caa1a5;
}

html,
body {
	font-family: var(--mainFont);
	color: var(--main);
}

h1,
.as-h1 {
	font-family: var(--accentFont);
	font-size: 72px;
	line-height: 57px;
}

h2,
.as-h2 {
	font-family: var(--accentFont);
	font-size: 50px;
	line-height: 42px;
}

h3,
.as-h3 {
	font-family: var(--accentFont);
	font-size: 38px;
	line-height: 32px;
}

p {
	font-family: var(--mainFont);
	font-size: 18px;
	line-height: 26px;
}
